.App {
  text-align: center;
}

.blk-small {
  color: rgb(138, 138, 138);
  font-size: calc(15px);  
  .btnJoin{
    padding: 0 5px;
    color: #475570;
    text-decoration: none;
  }
  .btnJoin:hover {
    color: #6d81a8;
  }
}