.Join-header {
  background-color: #f8f8f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(2px + 2vmin);
  color: #585555;
  .Join-contents {
    width: 100%;
    display: inline-block;
    .form-group {
      span {
        font-size: calc(7px + 1vmin);
        color: #df2f33;
      }
      .form-input {
        float:left;
        width: 32%;
      }
      .form-span {
        float:left;
        margin:0 3px;
      }
    }
  }
  .Join-title{
    text-align: center;
    margin: 30px 0;
  }
}