.Join2{
    font-size: calc(2px + 2vmin);
    text-align: center;
    width: 50%;
    padding-top:30px;
    margin: 0 auto;
    .stap2{
        margin-top:50px;
    }
}

.btn-step2{
    margin-top:10px;
    color: white;
}